html, body {
  height: 100%;
  width: 100%;
  min-width: 1280px;
  min-height: 720px;
  margin: 0; }

body {
  background-size: cover;
  background-image: url(../snippets/elegant_accordion/pattern.png); }
  body .title {
    width: 500px;
    height: 150px;
    position: fixed;
    background-image: url(../snippets/elegant_accordion/title.png);
    background-size: 100% 100%; }
  body .container {
    position: absolute;
    right: 0;
    height: 480px;
    right: 50px; }
    body .container ul {
      list-style: none;
      margin: 0;
      height: 100%;
      padding: 0; }
      body .container ul .page1 {
        background-image: url(../snippets/elegant_accordion/images/1.jpg); }
      body .container ul .page2 {
        background-image: url(../snippets/elegant_accordion/images/2.jpg); }
      body .container ul .page3 {
        background-image: url(../snippets/elegant_accordion/images/3.jpg); }
      body .container ul .page4 {
        background-image: url(../snippets/elegant_accordion/images/4.jpg); }
      body .container ul li {
        width: 115px;
        height: 100%;
        float: right;
        position: relative;
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
        overflow: hidden;
        cursor: pointer;
        background-position: center center;
        background-repeat: no-repeat;
        box-shadow: 1px 3px 15px #555; }
        body .container ul li:last-child {
          border-left: 2px solid #fff; }
        body .container ul li .page-header {
          width: 100%;
          position: absolute;
          margin-top: 50px;
          font-size: 20px;
          color: #000;
          padding: 10px 0;
          background-color: #fff;
          background-size: 100% 100%;
          text-align: center;
          opacity: 0.9; }
        body .container ul li .bg {
          display: none;
          height: 340px;
          width: 100%;
          position: absolute;
          background: transparent url(../snippets/elegant_accordion/images/bgDescription.png) repeat-x top left;
          bottom: 0;
          left: 0; }
