html {
  overflow: hidden; }
  html body {
    position: absolute;
    margin: 0;
    padding: 0;
    background: #000;
    width: 100%;
    height: 100%; }
    html body #screen {
      position: absolute;
      width: 100%;
      height: 100%; }
    html body #source {
      visibility: hidden; }
